body {
    background-color: 	#051013;
}

div {
    width: 300px;
    margin: auto;
}

h1 {
    color: #e81e4a;
    font-family: cursive;
    font-size: 65px;
}

ul {
    font-size: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
    font-family: cursive;
}

li {
    color: #ff7519;
    list-style-type: square;
    height: auto;
    max-width: 160px;
}

input {
    width: 180px;
    color: #ffffff;
    font-size: 20px;
    font-family: cursive;
    border-radius: 5px;
    border-color: #e81e4a;
    background-color: transparent;
    padding-left: 10px;
}

button {
    color: #ffffff;
    font-size: 20px;
    font-family: cursive;
    border: none;
    border-radius: 5px;
    background-color: #e81e4a
}

button:hover {
    background-color: #eb365d
}

button:active {
    background-color: #e6758d
}

hr#separate {
    width: 300px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 5px;
}

hr.none {
    background-color: #ff7519;
    width: 50px;
    font-family: cursive;
}

hr#none-1 {
    margin-bottom: -15px;
}

hr#none-2 {
    margin-top: -15px;
    margin-bottom: -10px;
}

hr#task-list {
    margin-top: -50px;
    margin-bottom: 50px;
    height: 2px;
    border-radius: 5px;
    background-color: #ffffff;
}

p {
    color: #ff7519;
    font-size: 20px;
    font-family: cursive;
    margin-left: 126px;
}